---
layout: page
title: Careers
permalink: /careers
pagination:
  enabled: true
  collection: 'jobs'
---

Aici am adunat cele mai tari posturi deschise pentru dezvoltatorii de Python care își caută echipa potrivită.
<br>
<br>
Pentru a adăuga postul vacant în această listă, contactați-ne <b>community@python.md</b> - e absolut gratuit!
<br>
<br>


<div class="posts">
  {% for job in paginator.posts %}
  <div class="post">
    <div class="post-photo">
      <a href="{{ job.url }}"><img src="{{ job.image }}" width="150"></a>
    </div>
    <h2 class="post-title">
      <a href="{{ job.url }}">
        {{ job.title }}
      </a>
    </h2>
    <span class="post-date">at <b>{{ job.company }}</b></span>

    {{ job.short }}
  </div>
  <div class="clearfix"></div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
