---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} |
    {% if page.author_link %}
      <a href="{{ page.author_link }}" target="_blank">{{ page.author }}</a>
    {% else %}
      {{ page.author }}
    {% endif %}
  </span>
  {{ content }}

  <br>
  <br>
  Dacă acest material a fost util te rugăm să faci un share pentru a contribui la dezvoltarea comunității de Python Developers
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f60f99607b95d0012fb2db9&product=inline-share-buttons" async="async"></script>
</div>

{% if site.related_posts.size > 0 %}
  <div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
